html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}
:root {
  /* Colours */
  --color-bg: light-dark(#fceb94, #1d1a0f); /* page background /*

  /* Header */

  /* Logotype */
  --color-logotype-bg: light-dark(#000, #dbdad4);
  --color-text-logotype: light-dark(#fffae2, #1c1a14);
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#5a5b5e, #2b2c2e);
  /* Links */
  --color-link-bg: light-dark(#78766e, #3c3b36);
  --color-link-hover: light-dark(#fff, #0d0d0d); /* used */
  --color-link-active: light-dark(#99958f, #2a2a27); /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#4b4545, #2a2727);
  --color-headline-text-page: light-dark(#42413d, #242420);

  /* Tekst */
  --color-text: light-dark(#000, #dbdad4);
  --color-text-inverted: light-dark(#cdccc4, #000);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: light-dark(#5a5b5e, #2b2c2e);
  --color-cta-card-bg: light-dark(#fff, #0d0d0d);
  /* news-cards */
  --color-news-bg: light-dark(#fff, #0d0d0d);
  --color-news-bg-inverted: light-dark(#5a5b5e, #2b2c2e);
  --color-cta-newscard-bg: light-dark(#5a5b5e, #2b2c2e);
  --color-cta-newscard-bg-inverted: (#99958f, #2a2a27);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#5a5b5e, #2b2c2e);
  --color-infobox-1-bg: light-dark(#cfcec6, #2a2a25);
  --color-infobox-2-bg: (#99958f, #2a2a27);
}
