#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

label {
  display: block;
  font-weight: 400;
  margin-top: 15px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 15px;
}

button {
  margin-top: 20px;
  background: #ff4f0f;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #ffff00;
  color: black;
}

.forms {
  font-weight: 700;
  margin-top: 50px;
}

.registerh2 {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #ff4f0f;
  color: #fff8f0;
  text-align: center;
}

form {
  background-color: rgb(255, 244, 235);
  justify-content: center;
}

.regmain {
  padding: 40px 0;
  margin-left: 30px;
}

form {
  max-width: 600px;
  background: #fff8f0;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 20px #ff4f0f;
}

:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid slateblue;
  outline-offset: 1px;
}
/* Hover-styles */
button:hover {
  background: #222;
}
/* Active-styles (imens man klikker) */
button:active {
  scale: 0.98;
}

/* Valideringsregler */
/* Skjul fejlmeddelelsen som standard */
.error-message {
  display: none;
}
.form-group:has(:required) {
  legend::after,
  label:only-of-type::after {
    margin-inline-start: 0.25ch;
    content: "*";
    color: red;
  }
}

/* Tilføj rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input:not(label > *),
  fieldset > div,
  textarea,
  select {
    outline: 2px solid red;
    border-color: darkred;
  }
  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .error-message {
    display: block;
  }
}

/* Demo layout */
body {
  padding: 2rlh;
  display: grid;
  gap: 2rlh;
  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
}

section {
  display: grid;
  gap: 1rlh;
  align-content: start;
}

.output div {
  background: #f5f5f5;
  padding: 1rlh;
  border-radius: 6px;
  display: grid;
  gap: 0.5rlh;
}
