html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}
html {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background-color: var(--color-bg);
}

header {
  height: min-content;
}

#main-disclamer {
  height: 225px;
  background-color: light-dark(#354024, #1b2012);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 2%;
  margin-bottom: var(--margin-head-bottom);
}

#main-disclamer-content {
  display: flex;
  column-gap: 1rem;
}

main section {
  padding: 20px;
  border-radius: var(--border-radius);
}

h1 {
  font-size: var(--font-h1-size);
  font-weight: var(--font-weight-bold);
  color: aliceblue;
  margin: 5px 0;
  line-height: 1.3rem;
  text-align: left;
}

#instruction h1,
#register h1 {
  margin: 40px 0 20px 0;
  padding: 15px 30px;
  background-color: light-dark(#354024, #1b2012);
  font-size: var(--font-h2-size);
}

#instruction p {
  grid-column: 1/-1;
  margin-bottom: 20px;
  font-size: var(--font-h2-size);
  line-height: 1.5rem;
}

.sub {
  font-size: var(--font-sub1-size);
  font-weight: var(--font-weight-light);
  color: aliceblue;
}

h2 {
  font-size: var(--headline2-size);
}

h3 {
  font-size: var(--headline3-size);
}

main > h1 {
  width: calc(80% - 6rem);
}

/* NAVIGATION STRUCTURES */
header > nav {
  height: 100%;
  background-color: var(--color-menu-bg);
}

nav ul {
  list-style: none;
}

a {
  font-family: var(--font-family-sans);
}

nav a {
  text-decoration: none;
  color: var(--color-text);
}

/* Måske skal du lave en ny regel for logotype-wrapper, når du har lavet din logotype */
#logotype-wrapper {
  background-color: light-dark(#889063, #1f2518);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
}

#logotype-wrapper > a {
  color: var(--color-text-logotype);
  font-size: var(--font-logotype-size);
  font-weight: var(--font-weight-medium);
  width: max-content;
  margin-left: 1rem;
  background-color: light-dark(#889063, #1f2518);
}

/* Global menu */
header nav li a {
  margin: 1.5rem;
  background-color: light-dark(#889063, #1f2518);
  color: var(--color-text);
  font-size: var(--followup-text-size);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-links);
}

/* Pilen efter menu-tekst */
header > nav li > a:after {
  content: " \2192";
}

/* Global menu hover effekt - Lav den om til det, du synes */
nav a:hover {
  background-color: var(--color-link-hover);
}

nav a:active {
  background-color: var(--color-link-active);
}

/* FOOTER */
footer a {
  font-size: 0.7rem;
}

label {
  display: block;
  font-weight: 400;
  margin-top: 15px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 15px;
}

button {
  margin-top: 20px;
  background: light-dark(#354024, #1b2012);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: light-dark(#889063, #1f2518);
  color: black;
}

.forms {
  font-weight: 700;
  margin-top: 50px;
}

.registerh2 {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: light-dark(#354024, #1b2012);
  color: #fff8f0;
  text-align: center;
}

form {
  background-color: rgb(255, 244, 235);
  justify-content: center;
}

.regmain {
  padding: 40px 0;
}

form {
  font-family: "sans-serif";
  background: light-dark(#fff8f0, #7d7061);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 20px light-dark(#354024, #1b2012);
  color: light-dark(#1b2012, #fff8f0);
}

section.output {
  font-family: "sans-serif";
  background: light-dark(#fff8f0, #3a332e);
  border-radius: 15px;
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 20px light-dark(#354024, #1b2012);
  background-color: light-dark(#fff8f0, #7d7061);
}

section.output h2 {
  color: light-dark(#889063, #1f2518);
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 2px solid light-dark(#889063, #1f2518);
  display: inline-block;
}

section.output p {
  margin: 10px 0;
  font-size: 17px;
  font-weight: 500;
  color: light-dark(#889063, #1f2518);
}

section.output span {
  font-weight: 300;
  color: light-dark(#889063, #1f2518);
}

[popover] {
  max-width: 70ch;
  max-height: 70ch;
  margin: auto;
  opacity: 0;
  transition: 1s allow-discrete;
}
::backdrop {
  background: rgba(81, 126, 77, 0.533);
}

:popover-open {
  display: grid;
  opacity: 1;
}

@starting-style {
  :popover-open {
    opacity: 0;
  }
}

.h1artikel {
  color: #000000;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.luk {
  margin-bottom: 20px;
}

.cta_btn {
  color: light-dark(#354024, #1b2012);
}

html {
  background-color: light-dark(#cfbb99, #4a453b);
}
.icon {
  width: 80px;
}
.billeder {
  box-shadow: 5px 5px 5pxlight-dark(#354024, #1b2012);
  border-radius: 10%;
}
.box-text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

#toggle {
  cursor: pointer;
}
.logo {
  width: 50px;
  background: none;
}

footer {
  padding: 30px;
  border: solid #000000;
}
